
// Primary brand colors
$color-primary-yellow: #F1C118;
$color-primary-gold: #AF8445;
$color-secondary-gold: #FFDE7E;
$color-third-gold: #FFF0A4;
$color-primary-black: #211F1F;
$color-secondary-black: #24231E;
$color-third-black: #555555;
$color-primary-brown: #6E440E;
$color-secondary-brown: #2D210B;
$color-third-brown: #523d14;

// Button colors
$color-button-main: #FAE291;
$color-button-euro: #D4AF37;
$color-button-close-modal: #FBE2A1;
$ejp-color-button-add-board-text: #FAE291;
$ejp-color-button-add-board-background: #523D14;

// Gradient colors
$color-gradient-dark: linear-gradient(180deg, #000000 10.22%, #2e2c21 78.25%), linear-gradient(0deg, #fae291, #fae291);
