<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    .divTable{
      display: table;
      font-family:arial, sans-serif;
      font-size: 20px;
      width: 512px;
      /*margin-left:5px;*/
      margin-bottom:20px;
      text-align: center;
      vertical-align: center;
      padding: 40px 10px 10px 10px;
    }
    .divTableRow {
      display: table-row;
    }
    .divTableCell{
      display: table-cell;
      padding: 3px 5px;
      vertical-align: middle;
    }
    .divTableBody {
      display: table-row-group;
    }
  </style>
</head>
<body>

<div class="divTable" >
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell"><img src="../../../assets/logo2.png" style="width:213px;height:84px;"/></div>
      <div class="divTableCell"><img src="../../../assets/kino_logo2.png" style="width:165px;height:84px;"/></div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">{{{image}}</div>
      <div class="divTableCell"><span style="font-weight: bold;">QR ΔΕΛΤΙΟ KINO</span><br><br>
        {{terminalId}}<br>
        ΑΞΙΑ ΔΕΛΤΙΟΥ: {{totalAmount}} EUR</div>
    </div>
  </div>
</div>
</body>
</html>
