// Primary brand colors
$color-primary-white: #FFFFFF;
$color-primary-black: #000000;

// Brand colors
$color-third-brown: #523d14;
$color-third-brown-opacity: #523d144d;
$color-third-crimson: #c30350;
$color-third-purple: #37008b96;
$color-third-pink: #b20248;
$color-third-yellow: #f89d1c;
$color-third-dark-red: #b10207;

// Gradient colors
$gradient-pink-purple: linear-gradient(0deg, #541fef 40%, #d50759 110%);
$gradient-dark-pink-purple: linear-gradient(180deg, #9b0773 0%, #5f1ce1 100%);
$gradient-purple: linear-gradient(180deg, #853bff 0%, #2f0f8e 100%);
$gradient-light-gold: linear-gradient(90deg, #fcf196 2.52%, #ba6928 14.64%, #ffda7d 78.29%, #b85e28 87.38%);
$gradient-dark-pink: linear-gradient(180deg, #ff1d90 0%, #9b0773 53.12%);
$gradient-dark-red: radial-gradient(49.88% 50.63% at 49.99% 47.02%, #a5163e 0%, #680c28 76.72%);
