// TODO: update names when color pallet is provided by designer
// Primary brand colors
$color-primary-blue: #2E1E93;
$color-primary-white: #E8EDF1;
$color-light-blue: #BEDAE9;
$color-weldon-blue: #7A90B7;
$neon-green: #00CD4E;
$orange: #FC9015;
$gradient-dark-blue: linear-gradient(256.37deg, #2E1E93 4.39%, #131062 30.79%, #020744 98.32%), linear-gradient(0deg, #9C0960, #9C0960);
